<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelis</title>

    <link rel="stylesheet" th:href="@{/css/css_general.css}">
    <!-- <link rel="stylesheet" href="/css/css_general.css"> -->
    <link rel="stylesheet" th:href="@{/css/adminbiblioteca/vista_formulario.css}">
    <!-- <link rel="stylesheet" href="/css/adminbiblioteca/vista_formulario.css"> -->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h1>
            Libreria casa de la <br>
            lectura
        </h1>
        <nav>
            <a th:href="@{/libreria/libros}"><img th:src="@{/img/Imagen 4.png}" alt="Libros"></a>
            <a th:href="@{/libreria/autores}"><img th:src="@{/img/Imagen 6.png}" alt="Autores"></a>
        </nav>
    </header>

    <section class="vista_formulario">

        <div class="contenedor_formulario glass" >


            <form method="post" th:action="@{/autores/save}" th:object="${autor}">
                <input type="hidden" name="idautor" th:field="*{idAutor}">
                <table>
                    <tr>
                        <td colspan="2"><h3>Nuevo autor</h3></td>
                    </tr>
                    <tr>
                        <td><label for="nombre">Nombre:</label></td>
                        <td><input type="text" name="nombre" id="nombre" class="fondoglass" th:field="*{nombre}"></td>
                    </tr>
                    
                </table>
                <div class="btns">
                    <input type="submit" value="Enviar">
                    <a th:href="@{/libreria/adminautores}"><input type="button" value="Volver"></a>
                </div>
                
            </form>

        </div>

        

    </section>
</body>
</html>